{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/add_task.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Update Task page</h1>
    <div class="container-fluid bg-success" style="height: 695px;">
    	<div class="row">
	  <div class="col-sm-8">col-sm-8</div>
	  <div class="col-sm-4">
      <div class="container-fluid bg-warning" style="height: 695px;">
        <div class="add-task-div" style="width: 80%">
          <h3>
            <div class="form-outline">
              <input type="search" id="input_task_name" class="form-control form-control-lg" value="{{ obj.name }}" aria-label="Search" />
            </div>
          </h3>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span id="selected-repeat">{{ obj.repeat }}</span><span class="caret"></span></a>
          <ul class="dropdown-menu" id="dropdown-repeat">
            <li><a class="dropdown-item" href="#">Daily</a></li>
            <li><a class="dropdown-item" href="#">Weekly</a></li>
            <li><a class="dropdown-item" href="#">Hourly</a></li>
          </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span id="selected-priority">{{ obj.priority }}</span><span class="caret"></span></a>
          <ul class="dropdown-menu" id="dropdown-priority">
            <li><a class="dropdown-item" href="#">Low</a></li>
            <li><a class="dropdown-item" href="#">Medium</a></li>
            <li><a class="dropdown-item" href="#">High</a></li>
            <li><a class="dropdown-item" href="#">Heavy</a></li>
          </ul>
        </div>
          <div>
            <label for="birthdaytime">start time:</label>
            <input type="datetime-local" value="{{ obj.start_time }}" id="start_time" name="start-time">
          </div>
        </div>
        <div class="add-task">
          <button type="button" class="btn btn-success" onclick="updateTask({{obj.id}})">Update Task</button>
        </div>
      </div> 
    </div>
	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'mainapp/js/add_update_task.js' %}"></script>

  </body>
</html>