@import 'main.css';
.dropdown{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.add-task-div{
	position: absolute;
	top: 5%;

}

.start_time_div{
	margin-left: 20px;
}

.custom_selected{
	background-color: pink;
}